// importing components
@import './components/variables';

@import './components/form';
@import './components/panels';

@import './components/responsive';

//body
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: $ff-secondary;
}

.container {
  position: relative;
  width: 100%;
  background-color: $clr-neutral-100;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

label {
  width: 100%;
}